/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body {
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

body {
	width: 960px;
	margin: auto;
}

.title_box {
	background: url(/img/mainbg.png);
	background-size: cover;
	background-position: center;
	height: 330px;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 36px;
}

h1 {
	font-size: 48px;
}


.navi_box {
	height: 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: solid 2px #efefef;
}

.navi_box_logo {
	width: 25%;
}


.about_box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about_box_text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	margin: 120px 10px 80px;
	line-height: 200%;
}

.yellow_title {
	font-size: 24px;
	color: #ffd61a;
	margin-bottom: 24px;
}

.black_title {
	font-size: 24px;
	color: #222222;
	margin-bottom: 40px;
}

.sentou {
	margin-top: 64px;
	margin-bottom: 40px;
}

img {
	width: 100%;
}

.course_box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 64px 10px;
	line-height: 200%;
}


.kensyu_box {
	display: flex;
}

.kensyu_box_img {
	width: 50%;
	height: 100%;
	vertical-align: top;
}

.kensyu_box_text {
	display: flex;
	align-items: center;
	width: 50%;
	padding: 48px;
	background-color: ghostwhite;
	font-size: smaller;
}

.news_box_title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 64px auto;
}

.news_box_img {

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.news_box_text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 56px;
}

.date {
	margin-bottom: 10px;
	margin-top: 10px;
}

.news_box_text_text {
	padding: 10px;
}

.more_box {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}

.btn--orange,
a.btn--orange {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #ffd61a;
	width: 300px;
	height: 60px;
}

.btn--orange:hover,
a.btn--orange:hover {
	color: #fff;
	background: #ffd61a;
}

.access_box {
	padding-top: 64px;
	padding-bottom: 80px;
	background-color: #fafafa;
}

.access_box_title {
	margin: 64px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.access_box_title_title {
	font-size: 24px;
	margin-bottom: 24px;
}

.access_box_text {
	margin-top: 64px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.access_box_text_text {
	line-height: 200%;
	display: inline-block;
	text-align: left;
}

.access_box_text_zokusei {
	line-height: 200%;
	display: inline-block;
	text-align: left;
}

.contact_box {
	margin-top: 64px;
}

.contact_box_text_subtitle {
	margin-bottom: 64px;
}

.contact_box_text {
	margin-bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact_box_LR {
	display: flex;
	justify-content: space-evenly;
}

.contact_box_LR_L {
	display: flex;
	justify-content: end;
	flex-direction: column;
	align-items: end;
	width: 40%;
}

.contact_box_LR_L_text {
	display: inline-block;
	/* text-align: left; */
}

.contact_box_LR_R {
	width: 50%;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
}

.shikaku {
	width: 328px;
	-webkit-appearance: none;
	outline: none;
	border-radius: 0;
	border: 1px solid gray
}


.check_box {
	display: flex;
	justify-content: space-evenly;
}

.check_box_text {
	display: flex;
	flex-direction: column;
	/* align-items: end; */
	width: 40%;
}
.shibou{
	padding-left:271px;
}

.check_box_form {
	width: 50%;
}
.syousai_box{
	display: flex;
}
.syousai_box_text{
		display: flex;
			flex-direction: column;
			/* align-items: end; */
			width: 50%;

}
.syousai_box_form{
		width: 57%;
}

.syousai_text{
padding-left: 304px;
}







.top_button_box{
		display: flex;
			justify-content: end;
			align-items: center;
}
.top_button_button{
	display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		background-color: #302e11;
		width: 60px;
		height: 60px;
}

.send_box{
	padding-top: 40px;
		display: flex;
			justify-content: center;
			align-items: center;
}
.send_button{
		display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			background-color: #ffd61a;
			width: 300px;
			height: 60px;
}




.foot_box {
	color: white;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: #707070;
	display: flex;
	justify-content: center;
}

@keyframes infinity-scroll-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.scroll-infinity__wrap {
	display: flex;
	overflow: hidden;
}

.scroll-infinity__list {
	display: flex;
	list-style: none;
	padding: 0
}

.scroll-infinity__list--left {
	animation: infinity-scroll-left 80s infinite linear 0.5s both;
}

.scroll-infinity__item {
	width: calc(100vw / 6);
}

.scroll-infinity__item>img {
	width: 100%;
}
.scroll-infinity__list--left {
	animation: infinity-scroll-left 80s infinite linear 0.5s both;
}